<!DOCTYPE html>
<html >

<head>
    <title>Planning Poker</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css"></link>
    <link rel="stylesheet" href="/Client/style.css"></link>
</head>

<body ng-app="planningPoker">
    <div ng-controller="PokerCtrl" ng-cloak="" class="gridListdemoBasicUsage" md-theme="{{ dynamicTheme }}" md-theme-watch>
        <md-toolbar layout="row">
            <md-button ng-click="toggleProjectNavLeft()" ng-if="user.role==='Scrum Master'">
                    <md-icon>menu</md-icon>
            </md-button>
            <div class="md-toolbar-tools">Planning Poker</div>
            <md-select ng-model="devProjectIndex" placeholder="Select a Project" ng-if="user.role === 'Developer'" aria-label="projectSelect">   
                <md-optgroup label="Projects">
                    <md-option ng-value="project" ng-repeat="project in developerProjects" ng-click="getUserStories(project)">{{project.name}}</md-option>
                </md-optgroup>
            </md-select>
            <md-button ng-if="user.username === ''" ng-click="showLogin()">Sign in</md-button>
            <md-button ng-if="user.username === ''" ng-click="showSignUp()">Sign up</md-button>
            <md-menu-bar>
                <md-menu ng-if="user.username !== ''" md-position-mode="target-right target">
                    <md-button aria-label="Open user menu" ng-click="openUserMenu($mdOpenMenu, $event)">
                        <md-icon md-menu-origin>person</md-icon>
                        {{user.username}}
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button>
                                <md-icon md-menu-origin>person</md-icon>
                                {{user.username}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <!--<md-button ng-click="settings($mdOpenMenu, $event)">
                            <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
                            <!--Settings-->
                            <!--</md-button>-->
                            <md-menu>
                                <md-button ng-click="openUserMenu($mdOpenMenu, $event)">Select Theme</md-button>
                                <md-menu-content>
                                        <md-menu-item ng-model="dynamicTheme" ng-click="changeTheme(theme)" aria-label="themeSelect" ng-value="theme" ng-repeat="theme in themes">
                                                <md-button>{{theme}}</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="logout($event)">
                                <!--<md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>-->
                                Logout
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
           
        </md-toolbar>
        <md-content ng-view></md-content>
    </div>
</body>
<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
<script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="node_modules/angular-messages/angular-messages.js"></script>
<script type="text/javascript" src="node_modules/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
<script type="text/javascript" src="Client/ion.sound-3.0.7/ion.sound.js"></script>
<script type="text/javascript" src="Client/index.js"></script>

</html>