<div layout="row">
        <div flex="30">
            <md-toolbar class="md-theme-light md-hue-3">
                <h2 class="md-toolbar-tools">
            <span>Product Backlog</span>
            </h2>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="item in userStories">
                        <div class="md-list-item-text">
                            <h3>{{item.title}}</h3>
                            <p>{{item.description}}</p>
                        </div>
                        <md-button class="md-secondary">Respond</md-button>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div flex="70">
            <div layout="column">
                <div layout="row" layout-align="center center">
                    <img src="Client/images/pokerTable.jpg" style="width: 60%; height=60%;" />
                    <!--<canvas id="gameCanvas" style="width: 100%; height=100%; border:1px solid #000000;">
                        
                    </canvas>-->
                </div>
                <div layout="row" class="gridListdemoBasicUsage">
                    <md-card ng-repeat="card in cards">
                        <img ng-src="Client/images/side-A/{{card.imagePath}}" class="md-card-image" alt="Washed Out">
                    </md-card>

                </div>
            </div>
        </div>
    </div>