<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-light md-toolbar-tools">
        <h1>Projects</h1>
        <md-button ng-click="close()" class="md-primary">
            Close Sidenav
        </md-button>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <div layout="row">
                <md-input-container flex="80">
                    <label for="newProject">Project Name</label>
                    <input type="text" id="newProject" ng-model="newProject.name" md-autofocus>
                </md-input-container>
                <md-button class="md-icon-button" flex="20">
                    <md-icon ng-click="createProject()">add</md-icon>
                </md-button>
            </div>
        </form>
        <md-list ng-cloak>
            <md-list-item ng-repeat="project in smProjects">
                <p> {{ project.name }} </p>
                <md-checkbox class="md-secondary" ng-model="project.selected"></md-checkbox>
            </md-list-item>
        </md-list>

    </md-content>
</md-sidenav>


<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="one">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab One</h1>
                
                 <!--<md-autocomplete
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="What is your favorite US state?">
                    <md-item-template>
                    <span md-highlight-text="searchUserText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No users matching "{{ctrl.searchText}}" were found.
                    <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                    </md-not-found>
                </md-autocomplete>
                -->
                
                <md-select placeholder="Select user" ng-model="groupMember" md-on-open="loadUserList()" style="min-width: 200px;">
                    <md-option ng-value="user" ng-repeat="user in usersList">{{user}}</md-option>
                </md-select>
            </md-content>
        </md-tab>
        <md-tab label="two">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Two</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque
                    ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus
                    est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor
                    in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales
                    ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat
                    diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem.
                    Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor
                    eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus,
                    ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec
                    posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus
                    faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna
                    libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor.
                    Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
                    Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu
                    fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim
                    scelerisque, finibus commodo lectus.</p>
            </md-content>
        </md-tab>
        <md-tab label="three">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum.
                    Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu
                    fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim
                    scelerisque, finibus commodo lectus.</p>
            </md-content>
        </md-tab>
    </md-tabs>

</md-content>